@model CorePoint.DAL.Models.Incident

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Incident</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupervisorId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupervisorId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CrewId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CrewId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IncidentType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IncidentType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Area)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Area)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FilePath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FilePath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Severity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Severity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsConfidence)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsConfidence)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IncidentDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IncidentDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdateBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdateBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdateDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
