@using CorePoint.Service.ViewModel
@model CorePoint.Service.ViewModel.ViewModelIncidentStatus
<section class="section">
    <div class="card">
        <div class="card-body">
            <h6 class="card-title">Edit Incident Status</h6>
        </div>
    </div>
</section>
<section class="section">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Incident Details</h5>
            <div class="row">

                <div class="col-md-2 mt-2">
                    <strong>@Html.DisplayNameFor(model => model.vmIncidentDate)</strong>
                </div>
                <div class="col-md-2 mt-2">
                    @Html.DisplayFor(model => model.vmIncidentDate)
                </div>

                <div class="col-md-2 mt-2">
                    <strong>@Html.DisplayNameFor(model => model. vmIncidentReportDate)</strong>
                </div>
                <div class="col-md-2 mt-2">
                    @Html.DisplayFor(model => model. vmIncidentReportDate)
                </div>

                <div class="col-md-2 mt-2">
                    <strong>@Html.DisplayNameFor(model => model.vmIncidentType)</strong>
                </div>
                <div class="col-md-2 mt-2">
                    @Html.DisplayFor(model => model.vmIncidentType)
                </div>

                <div class="col-md-2 mt-2">
                    <strong>@Html.DisplayNameFor(model => model.vmEmployeeName)</strong>
                </div>
                <div class="col-md-2 mt-2">
                    @Html.DisplayFor(model => model.vmEmployeeName)
                </div>

                <div class="col-md-2 mt-2">
                    <strong> @Html.DisplayNameFor(model => model.vmSupervisorName) </strong>
                </div>
                <div class="col-md-2 mt-2">
                    @Html.DisplayFor(model => model.vmSupervisorName)
                </div>

                <div class="col-md-2 mt-2">
                    <strong> @Html.DisplayNameFor(model => model.vmArea) </strong>
                </div>
                <div class="col-md-2 mt-2">
                    @Html.DisplayFor(model => model.vmArea)
                </div>

                <div class="col-md-2 mt-2">
                    <strong> @Html.DisplayNameFor(model => model.viewIncidentDes) </strong>
                </div>
                <div class="col-md-2 mt-2">
                    @Html.DisplayFor(model => model.viewIncidentDes)
                </div>

            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="row">
        <div class="col-lg-6">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Edit Incident</h5>

                    <!-- General Form Elements -->
                    <form asp-action="Edit">
                        <div class="row mb-3">
                            <input type="hidden" asp-for="vmIncidentId" />
                            <label asp-for="vmStatusID" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                @Html.DropDownListFor(Model => Model.vmStatusID, new SelectList(ViewBag.StatusList, "ID", "Name"),
                                "-- Select Status --", new { id = "ddlStatus", @class="form-control"})
                                <span asp-validation-for="vmStatusID" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label asp-for="Remark" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <textarea asp-for="Remark" class="form-control"></textarea>
                                <span asp-validation-for="Remark" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-8">
                            </div>
                            <div class="col-sm-4">
                                <input type="submit" value="Save" class="btn btn-primary" />
                           
                                <a asp-action="Index" class="btn btn-secondary " > Back </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-lg-6">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Incident Status</h5>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Date</th>
                                <th scope="col">Status</th>
                                <th scope="col">Remark</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int num = 1;
                                foreach (var status in ViewBag.Data)
                                {
                                    <tr>
                                        <th scope="row">@num</th>
                                        <td>@status.vwStatusDate</td>
                                        <td>@status.vmLateststatus</td>
                                        <td>@status.Remark</td>
                                    </tr>
                                    num++;
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="card">
        <div class="card-body">
        </div>
    </div>

</section>
@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
